<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - Loja Bravin</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <img src="../static/img/logo.png" alt="logo Bravin" class="imagem-loja">
            </div>
            <ul>
                <li><a href="index.html">Início</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="cadastro.html">Cadastro</a></li>
                <li><a href="produtos.html">Produtos</a></li>
                <li><a href="carrinho.html">Carrinho</a></li>
            </ul>
        </nav>
    </header>

</body>
</html>